
__pycache__/
.DS_Store
piAppSwitcher.sublime-workspace
LukasCal/service.json
SeasonsCalc/SeasonResponses.txt
*.pyc
SeasonsCalc/Brain/__init__.pyc
.idea/workspace.xml
MovieFinder/config.py
pas_config.py
MovieFinder/putiokey.py
MovieFinder/telegramkeys.py
MovieFinder/qbtconfig.py
