
sftp-config.json
.DS_Store
piAppSwitcher.sublime-workspace
LukasCal/service.json
SeasonsCalc/SeasonResponses.txt
*.pyc
*.pyc
SeasonsCalc/Brain/__init__.pyc
.idea/workspace.xml
SeasonsCalc/Brain/__init__.pyc
